

table {
  width: 100%;
  border: 1px;
  border-style: solid;
  background: #bbb;
}

td {
  vertical-align: top;
  border: 1px;
  border-style: solid;
  background: #ddd;
  padding: 3px;
}

ul {
  list-style: none;
  padding-left: 5px;
}

li {
  padding: 2px;
}

#inventory_div {
  width: 250px;
  float: left;
  height: 100%;
}

#garden_div {
  display: block;
  width: 100%;
}

#potato {
  background: #888;
  height: 200px;
  width: 200px;
  border: 3px solid;
  margin: auto;
}

#plot {
  background: #864;
  height: 180px;
  width: 200px;
  border: 3px solid;
  border-bottom: none;
}

#plot_progress_bar_vessel {
  width: 200px;
  height: 20px;
  background-color: gray;
  border: 3px solid;
}

#plot_progress_bar_bar {
  width: 0%;
  height: 100%;
  background-color: #f00;
}

#plate {
  height: 100px;
  width: 100px;
  margin: 2px;
  background: #888;
  padding: 0px;
}

#news {
  position: absolute;
  width: fit-content;
  margin: 0px;
  font-family:monospace;
  font-size:15px;
}

img.icon {
  height: 20px;
  width: 20px;
  vertical-align: bottom;
}

img.small_icon {
  height: 12px;
  width: 12px;
  margin-left: 2px;
  margin-right: 2px;
}

img.potatopedia_icon {
  height: 50px;
  width: 50px;
  background-color: #bbb;
}

button.microwave_button {
  width: 40px;
  background-color: darkblue;
  color: white;
  font-style: bold;
  font-family: monospace;
}
